html{
    text-align: center;
    background-color: pink;
    color: blue;
    font-family: 'Carter One', cursive;
}

img{
    width:400px;
    height:200px;
}

input[type=text] {
  border: 2px solid blue;
  border-radius: 4px;
}