<!DOCTYPE html>
<html>
    <head>
        <title>Your bill!</title>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Carter+One|Josefin+Sans&display=swap" rel="stylesheet">

    </head>
    
    <body>
        <h1> Your total tip is ${{finalTip}} for a grand total of ${{finalTotal}}!</h1>
        <h1>Each person will pay ${{finalSplit}}.</h1>
        <img src="https://media.tenor.com/images/338c441f12880d40c8274722ee82b210/tenor.gif">
        </br>
        <h2>We are sure your waiter/waitress is ecstatic!</h2>
    </body>
</html>